#content-faq {
    text-align: left;
    flex: 1;
    width: 100%;
}
#faqs {
    margin: 1%;
    font-size: 1.2em;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 95%;
    padding: 1%;
}

.question {
    font-weight: bold;
    color: #4286f4;
}
.answer {
    text-indent:-23px;
    margin-left:35px;
}